{% extends "gel2/info/help_frame.html" %}

{% block header_title %}
Documents
{% endblock %}

{% block textcontent %}
	<div class="well" id="intro">
		<h3>Project specification</h3>
		<p>
			<ul>
				<li>GEL2 proposal (January 2013): <a href="/static/gel2/docs/GEL2_proposal.docx">GEL2_proposal.docx</a></li>
				<li>Open questions discussion: <a href="/static/gel2/docs/GEL2_open_questions.docx">GEL2_open_questions.docx</a></li>
				<li>Summary of deliverables for the prototype project: <a href="/static/gel2/docs/GEL2_prototype_specification.docx">GEL2_prototype_specification.docx</a></li>
				<li>Prototype development report: <a href="/static/gel2/docs/GEL2_prototype_development_report.docx">GEL2_prototype_development_report.docx</a></li>
				<li>Draft functional specification: <a href="/static/gel2/docs/GEL2_draft_functional_spec_20130428.docx">GEL2_draft_functional_spec_20130428.docx</a></li>
			</ul>
		</p>
	</div>

	<div class="well" id="intro">
		<h3>Import job sample files</h3>
		<p>
			<ul>
				<li>Example config file #1 (illustrating an unregistered resource, XPath to subentries, and non-standard parts of speech): <a href="/static/gel2/importsamples/configsample-1.ini">configsample-1.ini</a></li>
				<li>Example config file #2 (illustrating a pre-registered resource, no subentries, and the use of namespaces): <a href="/static/gel2/importsamples/configsample-2.ini">configsample-2.ini</a></li>
				<li>Sample CSV file: <a href="/static/gel2/importsamples/job-15.csv">job-15.csv</a></li>
				<li>Example zips:
					<ul>
						<li>COD12 (letter K only): <a href="/static/gel2/importsamples/cod12-k.zip">cod12-k.zip</a></li>
						<li>OTE3 (letter K only): <a href="/static/gel2/importsamples/ote3-k.zip">ote3-k.zip</a></li>
						<li>Hachette, English-French (letters J, K, L): <a href="/static/gel2/importsamples/hachette-jkl.zip">hachette-jkl.zip</a></li>
						<li>French Compact, English-French (letter K only): <a href="/static/gel2/importsamples/french_compact-k.zip">french_compact-k.zip</a></li>
					</ul>
				</li>
			</ul>

		</p>
	</div>

{% endblock %}
