{% load gel2_extras %}
{% load humanize %}

<h2>
	{{ wordclass.pos_description }}{% if wordclass.obsolete %} &#x2020;{% endif %} &nbsp;
	<small>
		{% if wordclass.definition %}&ldquo;{{ wordclass.definition }}...&rdquo;{% else %}[undefined]{% endif %}
	</small>
</h2>

<ul>
	<li>ID: {{ wordclass.id }}</li>
	<li>Last edited: {{ wordclass.datestamp|naturaltime }}</li>
	<li>Obsolete: {{ wordclass.obsolete }}</li>
	<li>{% include "gel2/includes/frequency_link.html" with obj=wordclass %}</li>
	{% include "gel2/includes/display_custom.html" with custom=wordclass.custom_parsed %}
</ul>

	<div class="buttonContainer">
		<i class="icon-cog"></i>
		<div class="btn-group hoverButtons">
			{% include "gel2/includes/edit_button.html" with id=wordclass.id action="edit" object="wordclass" %}
			{% include "gel2/includes/edit_button.html" with id=wordclass.id action="move" object="wordclass" %}
			{% include "gel2/includes/edit_button.html" with id=wordclass.id action="add" object="wordclass" child="type" %}
			{% if not wordclass.solo %}
				{% include "gel2/includes/edit_button.html" with id=wordclass.id action="delete" object="wordclass" %}
			{% endif %}
		</div>
	</div>

<!-- rows of types -->
{% for typerow in wordclass.type_rows %}
	<div class="row-fluid typerow">
		{% for t in typerow %}
			<div class="span4 well well-small">
				{% include "gel2/includes/type.html" with type=t %}
			</div>
		{% endfor %}
	</div>
{% endfor %}



